
// Smoke Effect
// *
//     box-sizing: border-box
//     padding: 0
//     margin: 0

// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #3b3b3b

// ul
//     padding: 0
//     margin: 0 
//     display: flex
//     letter-spacing: 10px
//     li
//         list-style-type: none    
//         color: #fff
//         font-size: 60px
//         font-weight: bold
//         transition: 2s
//     &:hover
//         li
//             transform: rotate(45deg) translateY(-200px)
//             opacity: 0
//             filter: blur(10px)
//             &:nth-child(2)
//                 transition-delay: 0.3s
//             &:nth-child(3)
//                 transition-delay: 0.6s
//             &:nth-child(4)
//                 transition-delay: 0.9s
//             &:nth-child(5)
//                 transition-delay: 1.2s
                

// Expanding Card Effect                
// *
//     box-sizing: border-box
//     padding: 0
//     margin: 0

// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center

// .card
//     position: relative
//     width: 300px
//     height: 270px
//     border-radius: 10px
//     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5)     
//     transition: 0.5s     
//     padding: 20px 40px

// .imageBox
//     position: relative
//     width: 100%
//     height: 100%    
//     display: flex
//     justify-content: center
//     align-items: center
//     &:hover
//         img
//             transform: translateY(-200px)   
//             transition: 0.5s ease    
//     img
//         width: 100%
//         height: 100%  
//         position: absolute
//         border-radius: 10px
//         transition: 0.5s ease
//         transform: translateY(-100px)
//     h2
//         text-align: center
//     p
//         text-align: center       

        
// Captain Marvel Card Effect
// *
//     box-sizing: border-box
//     padding: 0
//     margin: 0

// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
            
// .card
//     position: relative        
//     width: 500px
//     height: 300px
//     display: flex
//     align-items: center
//     background: linear-gradient(45deg, #d41e8e, #491f8f)
//     border-radius: 20px
//     padding: 15px
//     img
//         position: absolute
//         bottom: 0
//         left: 50%
//         transform: translateX(-50%)
//         height: 400px
//         transition: 0.5s 
//     &:hover
//         img
//             height: 450px
//             left: 80%  
//         .content
//             opacity: 1
//             left: 10%

// .content       
//     display: flex
//     flex-direction: column
//     position: relative
//     width: 40%
//     left: 20%
//     color: #fff
//     opacity: 0.3
//     transition: 0.5s
//     a
//         text-decoration: none    
//         background-color: #fff
//         margin: 10px
//         color: #000
//         padding: 3px
//         width: 100px
//         text-align: center
//     p
//         max-width: 120px    


// *
//     box-sizing: border-box
//     padding: 0
//     margin: 0

// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center

// .container  
//     width: 500px
//     height: 500px
//     position: relative
//     overflow: hidden 
//     border-radius: 10px
//     img
//         width: 100%
//         height: 100%       
//         transition: all 0.5s
//         position: absolute
//         left: 0
//         top: 0
//         z-index: -10
//     h2
//         text-align: center
//         color: #fff
//     p
//         text-align: center
//         color: #fff
//         max-width: 250px
//         margin: 0 auto      
//     .content
//         background-color: #000     
//         transform: translateY(550px) 
//         transition: 0.3s
//         border-bottom-left-radius: 10px
//         border-bottom-right-radius: 10px
//     &:hover
//         .content
//             transform: translateY(350px) 
//         img
//             transform: translateY(-100px)    
                     

*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    height: 100vh
    display: flex
    justify-content: center
    align-items: center                     
    

.content
    width: 400px
    height: 300px
    position: relative
    display: flex
    flex-direction: column
    overflow: hidden
    img
        width: 100%
        height: 100%
        position: absolute
        z-index: -10
        border-radius: 10px
    h2
        color: #fff
        text-align: center    
        margin-top: 20px
        background-color: #000
        padding: 10px 20px
        transform: translateY(-150px)
        transition: all 0.4s
    p
        color: #fff
        text-align: center
        padding: 0 20px
        margin-top: 20px
        font-size: 20px
        transform: translateX(-400px)
        transition: 0.5s
    a
        color: #fff
        text-decoration: none   
        padding: 10px 15px 
        text-align: center
        background-color: #000
        margin: 30px auto
        width: 120px
        text-transform: uppercase
        transform: translateY(200px)
        transition: 0.6s
    &:hover
        .overlay
            opacity: 0.6    
            transform: translate(0px)
        h2
            transform: translateY(0px)  
        p
            transform: translateX(0px)     
        a
            transform: translateY(0px)  
            
.overlay
    background-color: #6096ac
    border-radius: 10px
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0    
    opacity: 1
    transition: 0.3s
    transform: translate(400px)
    


    